<?xml version="1.0"?>
<!--
/**
 *
 * @category : RLTSquare
 * @Package  : RLTSquare_FraudProtection
 * @Author   : RLTSquare <support@rltsquare.com>
 * @copyright Copyright 2021 © rltsquare.com All right reserved
 * @license https://rltsquare.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Quote\Model\ValidationRules\QuoteValidationComposite">
        <arguments>
            <argument name="validationRules" xsi:type="array">
                <item name="FraudCustomerValidationRule" xsi:type="object">RLTSquare\FraudProtection\Model\ValidationRules\FraudCustomerValidationRule</item>
            </argument>
        </arguments>
    </type>
    <type name="RLTSquare\FraudProtection\Model\ValidationRules\FraudCustomerValidationRule">
        <arguments>
            <argument name="generalMessage" xsi:type="string" translatable="true">We are unable to proceed with your transaction. Please contact customer service for assistance.</argument>
        </arguments>
    </type>
</config>
